<ion-modal-view class="ion-nifty-modal">
  <div class="ion-modal-content-custom">
    <ion-content class="padding">
      <div style="color: white; font-size: 15px;text-align: center;">
      Invite your friend to join Reserva!<br>
      Every time a new Reserva user signs up with your invite code,they'll get their free voucher (IDR 50,000).
      <br><br>
      Once they take their first transaction, you'll automatically get your free voucher (worth up IDR 50,000).
      </div>
        
    </ion-content>
    <ion-footer-bar align-title="center" class="bar-assertive" ng-click="closeDetailVoucher()">
  <h1 class="title">Close</h1>
</ion-footer-bar>
  </div>
</ion-modal-view>