<ion-modal-view class="ion-nifty-modal" ng-controller="forgotPassword">
  <div class="ion-modal-content-custom">
    <ion-content class="padding">
      <div style="color: white; font-size: 15px;text-align: center;">
      <br>Forgot Password Form
      <br><br>Please fill in your details in the form below .<br><br>
      <form ng-submit="forgetPwdform(reg)">
        <input placeholder="put your email here" ng-model="reg.email" style="width: 50%"><br><br>
        <button class="button button-assertive" type="submit">
          Submit
        </button>
        <button class="button button-stable" type="button" ng-click="cancelforgetPwd()">
          Cancel
        </button>
      </form>
      </div>
        
    </ion-content>
  </div>
</ion-modal-view>