<ion-view title="Free Voucher">
    <ion-content class="has-header" >
	<form >
		<div class="list">
			<div class="item item-avatar row responsive-sm no-border">
				<div class="col">
					<center><img src="img/user1.png"></center>
				</div>
				<center><div class="col" style="font-size: 12px;margin-bottom: 0;">SEND YOUR PROMO CODE</div></center>
				<center>
					<button class="button button-large button-clear button-assertive">
					  <div style="font-size: 32px;margin-bottom: 3px;">n8yuj9</div>
					</button>
				</center>
				<center><div class="whitespace-normal" style="font-size: 12px;">They get a free voucher and you will to (worth up to IDR 50,000), after their first transaction.</div></center>
				<center>
					<button class="button button-small button-clear button-assertive" ng-click="detailVoucher()">
					  Details
					</button>
				</center>
			</div>
		</div>
		<button type="submit" class="btn-blue-navi button button-full">
	        Invite Friends
	    </button>
	</form>

    </ion-content>
</ion-view>