<ion-view title="Support">
    <ion-content class="has-header" >
	<form >
		<div class="list">
		  <label class="item item-input">
		    <textarea rows="10" placeholder="Please leave your feedback"></textarea>
		  </label>
		</div>
		<button type="submit" class="button-stable button button-full">
	        Submit
	    </button>
	    <center>OR</center>
	    <a ng-href="tel:123456789" class="button-assertive button button-full">
	        Call Support
	    </a>
	</form>

    </ion-content>
</ion-view>